<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianggzone.springboot.action.data.mybatis.dao.AuthorMapper2">

	<!-- type为实体类Student，包名已经配置，可以直接写类名 -->
	<resultMap id="authorMap" type="Author">
		<id property="id" column="id" />
		<result property="realName" column="real_name" />
		<result property="nickName" column="nick_name" />
	</resultMap>

	<select id="findAuthor" resultMap="authorMap" resultType="Author">
		select id, real_name, nick_name from t_author where id = #{id}
	</select>
</mapper> 